
  <div class="header">
    <p class="logo">Caffeteria Management</p>
    <div class="header-right">
      <p class="nav-text"><%= link_to "signup", new_user_path %></p>
      <p class="nav-text"><%= link_to "signin", new_sessions_path %></p>
    </div>
  </div>


  <div class="topnav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>
