<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="home.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet"
    rel="stylesheet">
</head>

<body>

  <p class="Home-title">welcome to final home page. </p>

<p class="Home-authenticate">If you are new user <%= link_to "sign_up here", new_user_path %></p>


<p class="Home-authenticate">If you are already existing user <%= link_to "sign_in here", new_sessions_path %></p>

  <div class="header">
    <p class="logo">Caffeteria Management</p>
    <div class="header-right">

      <p ><%= link_to "signin", new_sessions_path %></p>
      <p ><%= link_to "sign_up here", new_user_path %></p>

    </div>
  </div>


  <div class="topnav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>


</body>

</html>
